<div id="myCalculator">
			<main class="main_content cf">

				<!-- Sections
				–––––––––––––––––––––––––––––––––––––––––––––––––– -->
				<section class="inc">
					<div>
						<div class="middle">
							<h4>Incandescent</h4>
							<p>{{ inc_wattage }}</p>
							<p>{{ inc_cost }}</p>
						</div>
					</div>
				</section>
				<section class="hal">
					<div>
						<div class="middle">
							<h4>Halogen</h4>
							<p>{{ hal_wattage }}</p>
							<p>{{ hal_cost }}</p>
						</div>
					</div>
				</section>
				<section class="cfl">
					<div>
						<div class="middle">
							<h4>CFL</h4>
							<p>{{ cfl_wattage }}</p>
							<p>{{ cfl_cost }}</p>
						</div>
					</div>
				</section>
				<section class="led">
					<div>
						<div class="middle">
							<h4>LED</h4>
							<p>{{ led_wattage }}</p>
							<p>{{ led_cost }}</p>
						</div>
					</div>
				</section> <!-- End Sections -->
			</main>

			<!-- Form
			–––––––––––––––––––––––––––––––––––––––––––––––––– -->
			<form class="cf">
				<div>
					<div class="middle">
						<h4>Lumens</h4>
						<p>Brightness <br>of bulb</p>
						<select #lum (change)="calculate(lum.value, cents.value, hours.value)" value="375">
      						<option *ngFor="let opt of lum_options" [value]="opt">{{opt}}</option>
      					</select>
					</div>
				</div>
				<div>
					<div class="middle">
						<h4>kWh</h4>
						<p>Kilowatt-<br>hour cost</p>
						<input #cents (keyup)="calculate(lum.value, cents.value, hours.value)" type="number" value="12"> 
						<span>cents</span>
					</div>
				</div>
				<div>
					<div class="middle">
						<h4>Hours</h4>
						<p>Usage <br>per day</p>
						<input #hours (keyup)="calculate(lum.value, cents.value, hours.value)" type="number" value="3"> 
					</div>
				</div>
			</form> <!-- End Form -->
		</div> <!-- End Main Content -->